<div class="searchInput">
    <label for="produto" class="form-label">
        <%= typeof title != 'undefined' ? title : 'default' %>
    </label>
    <div class="input-group">
        <input 
            type="text" 
            class="form-control" 
            id="produto" 
            name="produto" 
            placeholder="Digite o código ou o nome do produto"
        />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="button-addon2">
            </button>
        </span>
    </div>           
</div>