<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Vendas Now</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function postLogin(email, senha) {
            var uri = `http://localhost:3000/login/`;
            var req = new XMLHttpRequest();
            req.open('GET',uri,false);
            req.setRequestHeader("email", email.value);
            req.setRequestHeader("senha", senha.value);
            req.send();
            if (req.status === 200 || req.status === 304) {
                var response = req.responseText;
                if(response === 'true'){
                    window.location.replace("/myProfile");
                }
                else{
                    $('#myModal').modal('show');
                }
            }
            else{
                $('#myModal').modal('show');
            }
        }
    </script>
</head>
<body>
    <div class="page">
        <div class="row header">
            <div class="col-5">
                <a onclick="location.href='/'" id="title">VENDAS NOW</a>
            </div>
            <div class="col-5">
                <a href="#home" id="title-desc">Sobre a Loja</a>
            </div>
        </div>
        <div class="container-inicial-principal">
            <div class="row main">
                <div class="col-5">
                    <div class="caixas-login">
                        <div id="gallery">
                            <div class="title-container">
                                <h2>Seja Bem-Vindo</h2>
                            </div>
                            <form name="login">
                                <div class="form-group">
                                    <div class="item-group">
                                        <label for="email">Usuário</label>
                                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter user">
                                    </div>
                                    <div class="item-group">
                                        <label for="senha">Senha</label>
                                        <input type="password" class="form-control" name="senha">
                                    </div>
                                </div>
                                <button 
                                    class="btn btn-dark"
                                    onclick="postLogin(login.email,login.senha)"
                                >
                                    Entrar
                                </button>
                                <label id="loginHelp" class="form-text text-muted">
                                    Não possui cadastro? <u><b>Clique aqui</b></u>
                                </label>
                            </form>
                        </div>                
                    </div>
                </div>
                <div class="col-6">
                    <div class="caixas">
                        <div> 
                            <img src="../imagens/vendas/image 8.png" class="img-fluid" alt="Responsive image">
                            <br />
                        </div>                
                    </div>
                </div>
            </div>
            <hr class="line" />
            <div class="rodape">
                <div>
                    <h6>Projeto desenvolvido pela equipe Azul na disciplina de Desenvolvimento Web - UFC</h6>
                </div>
        
                <div class="row"> 
                    <div class="col-4">
        
                    </div>
                    <div class="col-2">
                        <h4>Contato</h4>
                    </div>
                    <div class="col-2">
                        <h4>Suporte</h4>
                    </div>
                    <div class="col-5">
                        <input id = "altcss" type="button" value="DARK MODE">
                    </div>
                    <div class="col-4"></div>
                </div>
            </div> 
    </div>   
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">          
                <!-- Modal content-->
                <div class="modal-content"> 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Usuário e/ou senha inválidos</h4>
                    </div>
                    <div class="modal-body">
                        <label id="loginHelp" class="form-text text-muted">
                            Tente novamente ou procure o gerente para realizar o seu cadastro no sistema.
                            Não possui cadastro? <u><b>Clique aqui</b></u>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src='scripts/alt-css.js'></script>
</html>