<%- contentFor('secao1') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%- contentFor('secao2') %>
        <div class="row header">
            <div class="col-5">
                <a onclick="location.href='/'" id="title">VENDAS NOW</a>
            </div>
            <div class="col-5">
                <a href="#home" id="title-desc">Sobre a Loja</a>
            </div>
        </div>

        <div class="container-inicial">
            <div class="row main">
                <div class="col-5">
                    <div class="caixas-login">
                        <div id="gallery">
                            <div class="title-container">
                                <h2>Crie sua conta</h2>
                            </div>
            
                            <form id = "newForm">
                                <div class="form-group">
                                    <div class="item-group">
                                        <label for="nome">Seu nome</label>
                                        <input type="text" class="form-control" id="nome" name="nome">
                                    </div>
                                    <div class="item-group">
                                        <label for="email">E-mail</label>
                                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="item-group">
                                        <label for="senha1">Senha</label>
                                        <input type="password" class="form-control" id="senha1" name="senha1" onchange="validarSenha1()">
                                        <p id="verSenha1"></p>
                                    </div>
                                    <div class="item-group">
                                        <label for="senha2">Confirme sua senha</label>
                                        <input type="password" class="form-control" id="senha2" name="senha2"
                                        onchange="validarSenha2()">
                                        <p id="verSenha2"></p>
                                    </div>     
                                </div>
    
                                <button type="submit" class="btn btn-dark" onclick="postUser()">Crie sua conta</button>                              
                                <br/><small >
                                    Ao criar sua conta, você concorda com as <b>Condições de Uso</b>
                                    da Vendas Now.<br/> Por favor verifique a 
                                    <b>Notificação de Privacidade, Notificação de Cookies</b><br/> e as 
                                    <b>Notificações de Anúncios Baseados em Interesse.</b>
                                </small> 
    
                            </form>
                            <div class="modal fade" id="modal-comp" role="dialog">
                                <div class="modal-dialog">          
                                    <div class="modal-content"> 
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <label id="loginHelp" class="form-text text-muted">
                                                Confira os dados informados e Tente novamente ou procure o gerente para realizar o seu cadastro no sistema.
                                            </label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>            
                                </div>
                            </div> 
                        </div>                
                    </div>
                </div>
                <div class="col-6">
                    <div class="caixas">
                        <div> 
                            <a href="../../imagens/vendas/image 8.png" rel="lightbox" title="Imagem 8">
                                <img src="../../imagens/vendas/image 8.png" width="621" height="550" alt="" title="Img#8" /></a>
                                <br />
                        </div>                
                    </div>
                </div>
            </div>
        </div>

        <%- contentFor('secao3') %>
        <script type="text/javascript" src='scripts/user/add-user.js'></script>   