<%- contentFor('secao1') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <%- contentFor('secao2') %>
        <div class="row header">
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <div id="usuario-status">
                            <h4 class="link-titulo">Usuário: Admin</h4>
                        </div>
                        <h3 class="link-titulo" onclick="location.href='/'">
                            <a href="/" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 9.png" width="30" height="30" alt="" title="Home"/></a>
                            Home
                        </h3><br/>                
                        <% if(user==='admin'){ %>
                            <h3 class="link-titulo" onclick="location.href='/menuUser'">
                                <a rel="lightbox" title="Imagem 6">
                                    <img src="../../imagens/icones/image 10.png" width="30" height="30" alt="" title="Usuario"/></a>
                                Usuário
                            </h3>
                            <ul class="box">
                                <li><a href="/menuUser">Lista de Usuários</a></li>
                            </ul>              
                            <% }%>                
                        <h3 class="link-titulo" onclick="location.href='/listSale'">
                            <a href="/listSale" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 11.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Vendas
                        </h3>
                        <ul class="box">					
                            <li><a href="/listSale">Lista de Vendas</a></li> 			
                            <li><a href="/addSale">Cadastro de Vendas</a></li> 			
                        </ul>                    
                        <h3 class="link-titulo" onclick="location.href='/listProduct'">
                            <a href="/listProduct" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 12.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Estoque
                        </h3>
                        <ul class="box">
                            <li><a href="/listProduct">Lista de Estoque</a></li>
                            <% if(user!=='vendedor'){ %>
                            <li><a href="/addProduct">Cadastro de Produtos</a></li>
                            <% } %>
                        </ul>   
                        <h3 class="link-titulo" onclick="location.href='/myProfile'">
                            <a href="/myProfile" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 13.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Meu Perfil
                        </h3>            
                    </ul>
                </div>
            </nav>
            <div class="col-5">
                <a onclick="location.href='/'" id="title">VENDAS NOW</a>
            </div>
            <div class="col-5">
                <a href="#home" id="title-desc">Sobre a Loja</a>
            </div>
            <div class="col-1">
                <button class="button-header" onclick="logout()" >Sair</button>
            </div>
        </div>
        <div class="container">
            <div id="conteudo">
                <div class="container-header">
                    <div class="row">
                        <div class="col-6">
                            <h5><b>Editar Usuário</b></h5>
                        </div>
                    </div>
                </div>
                <div class="container-descricao">
                    <label>Para editar os dados de um usuário, altere os campos desejados e clique em SALVAR DADOS</label>       
                </div>

                <div class="container-filtro">
                    <form onsubmit="return false">
                        <div id="form-group">
                            <div class="title-container">
                            </div>

                            <div class="item-group">
                                <div class="row">
                                    <div class="col-5">
                                        <label for="nome" class="form-label">Nome:&nbsp;</label>
                                        <input type="text" class="form-control-inline" id="nome" name="nome" placeholder="Administrador">                               
                                    </div>
                                </div>
                            </div>
                            <div class="item-group">
                                <div class="row">
                                    <div class="col-5">
                                        <label for="perfil" class="form-label">Perfil:&nbsp;&nbsp;</label> 
                                        <select name="Perfil" id="perfil" name="perfil">
                                            <option value="admin">admin</option>
                                            <option value="gerente">gerente</option>
                                            <option value="vendedor">vendedor</option>   
                                         </select>
                                                                     
                                    </div>
                                </div>
                            </div>
                            <div class="item-group">
                                <div class="row">
                                    <div class="col-5">
                                        <label for="email" class="form-label">E-mail:</label>
                                        
                                        <input type="email" class="form-control-inline" id="email" name="email" aria-describedby="emailHelp" placeholder="admin@vendasnow.com" readonly>
                                        <p>Não é possivel alterar o email de cadastro. </p>                             
                                    </div>
                                </div>
                            </div>

                            <div class="item-group">
                                <div class="row">
                                    <div class="col-5">
                                        <label for="senha1" class="form-label">Senha</label>
                                        <input type="password" class="form-control" id="senha1" name="senha1">
                                        <p id="verSenha1"></p>                          
                                    </div>
                                </div>
                            </div>
                            <div class="item-group">
                                <div class="row">
                                    <div class="col-5">
                                        <label for="senha2" class="form-label">Repita a sua senha</label>
                                        <input type="password" class="form-control" id="senha2" name="senha2">
                                        <p id="verSenha2"></p>                             
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>DESEJA MUDAR A SENHA? PREENCHA OS CAMPOS SENHA E CONFIRMAÇÃO DE SENHA LOGO ABAIXO. 
                                    <br>
                                    Importante: a nova senha precisa ter no mínimo 6.</p>
                            </div>
                        </div>
                        
                    
                            <button type="submit" class="btn btn-dark" id="btn-gravar" onclick="putUser()">CONFIRMAR</button>
                            <button type="submit" class="btn btn-dark" onclick="window.location.replace('/menuUser')" >CANCELAR</button>
                    </form>

                  
                </div>
                <%- include('../components/modal.ejs', {title:'Usuário', body: 'Usuário atualizado com sucesso'}); %> 
             </div>
        </div>


        <%- contentFor('secao3') %>   
        <script type="text/javascript" src='scripts/user/edit-user.js'></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>