<%- contentFor('secao1') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%- contentFor('secao2') %>
    <div class="page">
        <div class="row header">
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <div id="usuario-status">
                            <h4 class="link-titulo">Usuário: Admin</h4>
                        </div>
                        <h3 class="link-titulo" onclick="location.href='/'">
                            <a href="/" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 9.png" width="30" height="30" alt="" title="Home"/></a>
                            Home
                        </h3><br/>                
                        <% if(user==='admin'){ %>
                            <h3 class="link-titulo" onclick="location.href='/menuUser'">
                                <a rel="lightbox" title="Imagem 6">
                                    <img src="../../imagens/icones/image 10.png" width="30" height="30" alt="" title="Usuario"/></a>
                                Usuário
                            </h3>
                            <ul class="box">
                                <li><a href="/menuUser">Lista de Usuários</a></li>
                            </ul>              
                            <% }%>                
                        <h3 class="link-titulo" onclick="location.href='/listSale'">
                            <a href="/listSale" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 11.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Vendas
                        </h3>
                        <ul class="box">					
                            <li><a href="/listSale">Lista de Vendas</a></li> 			
                            <li><a href="/addSale">Cadastro de Vendas</a></li> 			
                        </ul>                    
                        <h3 class="link-titulo" onclick="location.href='/listProduct'">
                            <a href="/listProduct" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 12.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Estoque
                        </h3>
                        <ul class="box">
                            <li><a href="/listProduct">Lista de Estoque</a></li>
                            <% if(user!=='vendedor'){ %>
                            <li><a href="/addProduct">Cadastro de Produtos</a></li>
                            <% } %>
                        </ul>   
                        <h3 class="link-titulo" onclick="location.href='/myProfile'">
                            <a href="/myProfile" rel="lightbox" title="Imagem 6">
                                <img src="../../imagens/icones/image 13.png" width="30" height="30" alt="" title="Usuario"/></a>
                            Meu Perfil
                        </h3>             
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-box">
            <div id="conteudo">
                <div class="container-header">
                    <div class="row">
                        <div class="col-6">
                            <label id="produtoTitle">
                                Lista de Usuários
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container-descricao">
                    <label>Os usuários relacionados representam todos os cadastros do sistema</label>
                </div>
                <div id="my-container">
                </div>
            </div>
        </div>
    </div>
    <%- include('../components/modal.ejs', {title:'Usuario', body: 'Usuário excluido com sucesso'}); %> 
    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="loginHelp" class="form-text text-muted">
                        Deseja realmente excluir o usuário?
                    </label>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteUser()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
<%- contentFor('secao3') %>    
<script type="text/javascript" src='scripts/user/menu-user.js'></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>