body{
    background-color: rgb(250, 250, 250);
    margin-top: 100px;
}
.caixas{
    font: normal 12pt Arial;
    color:white;
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
    margin-top:100px;
    margin: 10px;
    align-items: center; 
    justify-content: center;
    background: turquoise;
}
.caixas-login{
    font: normal 12pt Arial;
    color:black;
    text-align: justify;
    border-radius: 10px;
    margin: 10px;
    padding-top: 70px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.item-group{
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.form-btn{
    width: 100%;
    margin-top: 10px;
}
.caixas-avisos{
    background-color: #555555;
    font: normal 12pt Arial;
    color:white;
    border-radius: 10px;
    margin: 1%;
    height: 190px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
h6{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-bottom: 15px;
}
.line{
    margin-top:10px; 
    border-top: 3px solid #555555;
}
.item-center{
    font: normal 27pt Arial;
}
.title-container{
    margin-bottom: 10px;
    padding: 10px;
}
#title-desc{
    color: white;
    font-size: 16px;
    align-items: center;
}
.main{
    padding: 20px;
    margin: 40px;
}
.header{
    background-color: rgb(0, 0, 0);
    font: normal 15pt Arial;
    color: white;
    /* padding-left: 60px; */
    padding-top: 25px;
    position: fixed;
    top: 0;
    position: fixed;
    top: 0;
    width: 100%; 
}
.top-lateral{
    padding-left: 60px;
    padding-top: 25px;
}
#title{
    font: normal 20pt Arial;
    color: white;
}
.button-header {
    background-color: #555555;
    border-radius: 6px;
    color:white;
    padding: 5px;
    font: normal 11pt Arial;
}

.vendas_now{
    width: 100px;
}

/* a{
    color:white;
    margin-right: 15px;
} */
/* a:hover{
    color: rgb(218, 208, 208);
    text-decoration: underline red;
} */
/* a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
} */

#cliqueAdd{
    color: #555555;
}
/* #cliqueAdd:hover{
    color: #5555557c;
    text-decoration: underline #5555557c;
} */

#caixa_mensagem{
    height: 110px;
    width: 280px;
}
img {
    margin-left: auto;
    margin-right: auto; 
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px;
}
.produto{
    padding: 15px;
    margin:auto;
}
.produto li {
    float: left;
}
.produto ul {
    overflow: auto; 
}
.table-totais{
    background-color: black;
    color: white;
}
div.pagination{
    float: right;
    margin-right: 10px;
}

.btn-header{
    float: right;
    margin-top: 10px;
    padding-right: 20px;
}

.pageElement{
    padding-left: 6px;
    padding-right: 6px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
    /* color: black;
    float: left; */
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
ul.pagination li a.active {
    background-color: #cc1940;
    color: white;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  
li a:hover {
    text-decoration: none;
    background-color: rgb(137, 178, 219);  
}

a:active {
    text-decoration: none;
}

#menu-lateral {
    width: 30%;
    margin: 0; padding: 0;
    float: left;
}
#menu-lateral ul li {
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    list-style-type: none;
}
#menu-lateral a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
    }
#menu-lateral a:hover {
    background: #E5F0FF;
    color: #039;
}
.input-label{
    font: normal 12pt Arial;
    color:black;
    font-weight:bold;
}
.form-label{
    font: normal 14pt Arial;
    color:black;
    font-weight:bold;
}
.label-desc{
    font: normal 16pt Arial;
    color:black;
}

.container-inicial{
    margin-right: 10%;    
    height:100%;
    font:  100% Verdana, Helvetica, Arial, sans-serif;
    margin-top:80px;
    margin-left: 10%;
    padding-bottom: 25px;
    box-shadow: 0 0 10px #ccc;  
}
.container-inicial-principal{
    height:100%;
    font:  100% Verdana, Helvetica, Arial, sans-serif;
    margin-top:80px;
    padding-bottom: 25px;
    box-shadow: 0 0 10px #ccc;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: block;
}
.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
}
.flex-md-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
.navbar-expand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.container-box{
    margin-right: auto;    
    height:100%;
    font:  100% Verdana, Helvetica, Arial, sans-serif;
    margin-top:80px;
    margin-left: 20%;
    margin-right:5%;
    padding-bottom: 50px;
    box-shadow: 0 0 10px #ccc;  
    /* padding-right: 0%;
    padding-left: 0px; */
}
.container-header{
    font: normal 28pt Arial;
    background:rgb(31, 42, 54);
    padding:10px;
    color: white;
}
.container-descricao{
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.container-filtro{
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    padding-left: 20px;
}

#conteudo {
    width: 100%;
    /* text-align: center; */
    padding-bottom: 20px;
}
.datetime{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

#lateral {
    padding: 0 0 20px 20px;
    /* -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
                transition: all 0.5s ease; */                
    font-size:1.2em;
    /* background:rgb(44,62,80); */
    background:rgb(31, 42, 54);
    height:100%;
    overflow:hidden; 
    width:18%; 
    position:fixed;
    top: 0;
    /* margin-top: ; */
    left: 0;
    /* left:-320px; */
}

/* #lateral:before {
    z-index:1000;
    content: url(icone-menu.png);
    font-size:4em;
    color:white;
    position:fixed;
    left:4px;
    top:45px;
}
#lateral:hover:before, #lateral:focus:before {
left:-500px
    }
#lateral:hover, #lateral:focus,  #lateral:active  {
    overflow-y:scroll;
    -moz-transform: translate(320px, 0);
        -webkit-transform: translate(320px, 0);
            -o-transform: translate(320px, 0);
                transform: translate(320px, 0);
    padding-right:0;
} */


#lateral .box {
    list-style-type:none;
    margin-bottom:1em;;
    padding-bottom:5em;
}
.box{
    padding-bottom: 20px;
}
#lateral h3 {
    display:inline-block;
    font-weight:bold;
    font-size:1.0em;
    font-style:normal;
    padding-bottom:0.2em;
    margin: 0.3em 0 0.3em 0em;
    color:rgb(255,255,255);
    border-bottom: 4px solid rgb(155,155,155);
    padding-right: 30px;
    width: 100%;
}
#lateral h4 {
    font-weight: normal;
    font-size:1.0em;
    font-style:normal;
    padding:0.8em;
    margin: 1em 0 1em 0.81em;
    color:rgb(255,255,255);
}
#usuario-status{
    background:rgb(44,62,80);
    padding-left: 0px;
    margin-left: 0;
    font-size: 1.8rem;
}
#menu {
    font-style:italic;
    position:relative;
    font-size:1.0em;
    margin:1em 0 1em -1em;
    padding:0;
}

/* #menu li a,  #menu li a:link {
    font-size:1.0em;
    color:rgb(255,255,255);
    text-decoration: none;
    padding: 0.2em 0 0.2em 0.4em;
    display: block;
    -moz-transition: all 1.2s ease;
            -webkit-transition: all 1.2s ease;
                -o-transition: all 1.2s ease;
                    transition: all 1.2s ease;
}
#menu li a:hover {
    color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.2);
    -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
} */


/* @media (max-width: 280px) {
    body {margin-left:0;background-size:100% 28em!important;}
    #lateral {
        padding:0;
        width:200; 
        background-color: violet;
        }
    #menu li a {border-bottom:1px solid #ccc;}
    #menu li:first-child a {border-top:1px solid #ccc;}	
} */


/* bootstrap */
.h5, h5 {
    font-size: 1.25rem;
}
.h6, h6 {
    font-size: 1rem;
}
.h4, h4 {
    font-size: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

#table-sale{
    border: 1px solid #dee2e6;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
    color: #212529;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
th {
    text-align: inherit;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
#altcss {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    margin-left: 3%;
    border-radius: 10px;
    padding: 5px;
    background-color: #000;
    color: #fff;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-10 {
    -ms-flex: 0 0 4%;
    flex: 0 0 4%;
    max-width: 4%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font: normal 14pt Arial;
}
.foto-label{
    padding-left: 28%;
}
#img-container{
    box-shadow: 0 0 10px #ccc;  
    padding: 5px;
    margin-top: 10px;
}
#preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
/* .form-control-inline {
    width: 80%;
    height: calc(1em + .75rem + 1px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
.modal-title{
    color: black;
}

#consultar-btn{
    margin-left: 82%;
    width: 200px;
}
.btn-table{
    margin-left: 5px;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
  }
  
  .content-container {
    padding-top: 20px;
  }
  
  .sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #2574A9;
  }
  
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
  }
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .content-container {
    padding-left: 220px;
  }


  .gn-menu-wrapper {
    position: fixed;
    top: 58px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 290px;
    background:rgb(31, 42, 54);
    /* -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    transform: translateX(-60px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s; */
}

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 370px;
    height: 100%;
}

.disabled {
    pointer-events: none;
}
.gn-menu-main, .gn-menu-main ul {
    margin: 0;
    padding: 0;
    background: white;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.link-titulo{
    padding-top: 10px;
    font-size: 2.0rem;
}

#verSenha1{
    color: red;
    font-size: 12px;
}

#verSenha2{
    color: red;
    font-size: 12px;
}


.caixa-fotos{
    border-radius: 10px;
    /* background: turquoise; */
    height: 400px;
    margin-top: 10px;
}

/* Gallery */
.gallery {
    /* background-color: tomato; */
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 28vw;
    overflow: hidden;
  }
  
  .gallery:before,
  .gallery:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 20%;
    height: 200%;
    z-index: 3;
  }
  
  .gallery:before {
    left: 0;
    background:  linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
  
  .gallery:after {
    right: 0;
    background:  linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
  
  .gallery__stream {
    position: absolute;
    top: 10%;
    /* transform: translateY(-50%); */
    width: 100%;
    height: 100%;
  }
  
  .gallery__item {
    position: absolute;
    width: 50%;
    height: 80%;
    transition: 1s all ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
  }
  
  .gallery__item:nth-child(1) {
    left: 0;
    z-index: 1;
    transform: translateX(-100%) scale(.8);
  }
  
  .gallery__item:nth-child(2) {
    left: 0;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
  }
  
  .gallery__item:nth-child(3) {
    left: 50%;
    z-index: 4;
    transform: translateX(-50%) scale(1);
  }
  
  .gallery__item:nth-child(4) {
    left: 100%;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
  }
  
  .gallery__item:nth-child(n+5) {
    left: 100%;
    z-index: 1;
    transform: scale(.8);
  }
  
  /* Controllers */  
  .gallery__prev,
  .gallery__next {
    position: absolute;
    top: 50%;
    z-index: 4;
    width: 50%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%) scale(.8);
    cursor: pointer;
  }
  
  .gallery__prev {
    left: 0;
  }
  
  .gallery__next {
    left: 100%;
  }

  .bg-1 {
    background-image: url(http://localhost:3000/uploads/salto-alto-fem.jpg);
  }